---
import Areas from "@/components/Areas.jsx";
import Contacto from "@/components/Contacto.astro";
import Equipo from "@/components/Equipo.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Info from "@/components/Info.astro";
import Soluciones from "@/components/Soluciones.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";

import "@fontsource-variable/raleway";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
	currentLocale={currentLocale ?? "en"}
	title={i18n.SEO_TITLE}
	description={i18n.SEO_DESCRIPTION}
	ogDescription={i18n.OG_DESCRIPTION}
>
	<Header />
	<main>
		<Hero
			title={i18n.HERO_TITLE}
			subtitle={i18n.HERO_PARAGRAPH}
			email={i18n.HERO_EMAIL}
		/>
		<Info info={i18n.INFO_TITLE} quote={i18n.INFO_SUBTITLE} />
		<Areas client:visible currentLocale={currentLocale} />
		<Soluciones
			solutions={i18n.SOLUTIONS_TITLE}
			paragraph={i18n.SOLUTIONS_PARAGRAPH}
			currentLocale={currentLocale}
		/>
		<Equipo
			title={i18n.TEAM_TITLE}
			subtitle={i18n.TEAM_SUBTITLE}
			currentLocale={currentLocale}
		/>
		<Contacto
			title={i18n.CONTACT_TITLE}
			subtitle={i18n.CONTACT_SUBTITLE}
			description={i18n.CONTACT_FIND}
			currentLocale={currentLocale}
		/>
	</main>
	<Footer />
</Layout>
