---
import Areas from "@/components/Areas.jsx";
import Contacto from "@/components/Contacto.astro";
import Equipo from "@/components/Equipo.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Info from "@/components/Info.astro";
import Soluciones from "@/components/Soluciones.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";

import "@fontsource-variable/raleway";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<Header />
	<main>
		<Hero i18n={i18n} />
		<Info i18n={i18n} />
		<Areas client:visible currentLocale={currentLocale} />
		<Soluciones i18n={i18n} />
		<Equipo i18n={i18n} />
		<Contacto i18n={i18n} />
	</main>
	<Footer />
</Layout>
