---
import Section from "@/layouts/Section.astro";

const { title, subtitle, currentLocale } = Astro.props;
const imgAsesoramiento =
    "/assets/img/asancuslegal-asesoramiento-internacional.webp";
const imgAsesoramientoAlt = "Asancus Legal Asesoramiento Internacional";

type Info = {
    description?: string;
    title: string;
};

const INFO: Info[] = [
    {
        description:
            "En Asancus Legal prestamos asesoramiento legal internacional desde nuestro despacho en Valencia. Ayudamos tanto a clientes extranjeros con intereses en España como a ciudadanos españoles con actividades en el extranjero.",
        title: "Herencias internacionales y conflictos de jurisdicción",
    },
    {
        description:
            "Nuestro equipo está especializado en Derecho Fiscal, Civil y Mercantil con enfoque internacional. Realizamos la gestión completa de los procedimientos legales, incluso a distancia, de forma eficaz y segura.",
        title: "Compraventa de propiedades en España desde el extranjero",
    },
    {
        description:
            "Contamos con amplia experiencia en asesoramiento legal internacional. Ayudamos en herencias con bienes en distintos países, compraventas de inmuebles desde el extranjero y asuntos fiscales que involucran residencia fiscal o convenios de doble imposición. Te guiamos en cada paso del proceso con total transparencia.",
        title: "Fiscalidad internacional y doble imposición",
    },
    {
        title: "Asesoramiento legal internacional",
    },
];
---

<Section id={currentLocale === "es" ? "asesoramiento" : "advice"}>
    <div class="bg-primary">
        <div
            class="bg-primary max-w-screen-xl mx-auto flex flex-col gap-12 py-10 lg:py-20 px-5"
        >
            <div class="flex flex-col lg:grid lg:grid-cols-2 gap-8 relative">
                <h1 class="badge font-semibold">
                    {title}
                    {subtitle}
                </h1>
            </div>
            <div class="text-white grid grid-cols-1 lg:grid-cols-2 gap-5">
                <div>
                    <picture>
                        <img
                            src={imgAsesoramiento}
                            alt={imgAsesoramientoAlt}
                            class="aspect-auto mx-auto h-fit md:h-64 object-cover rounded"
                            loading="lazy"
                            width="750"
                            height="500"
                        />
                    </picture>
                </div>
                <div class="flex flex-col gap-5">
                    {
                        INFO.map(({ description }) => (
                            <p class="text-sm">{description}</p>
                        ))
                    }
                </div>
            </div>

            <ul class="flex flex-col md:flex-row gap-8">
                {
                    INFO.map(({ title }) => (
                        <li class="border-l-1 border-white pl-5">
                            <h1 class="text-gray-300 text-balance">{title}</h1>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</Section>
