---
import Section from "@/layouts/Section.astro";
import Form from "./Form.js";
import { FINDUS } from "@/types/contact";

const { title, subtitle, description, currentLocale } = Astro.props;
---

<Section id={currentLocale === "es" ? "contacto" : "contact"}>
    <div class="bg-primary">
        <div
            class="max-w-screen-xl mx-auto flex flex-col gap-8 py-10 lg:py-20 px-5"
        >
            <div class="flex flex-col justify-start gap-4 items-start">
                <h1 class="badge font-semibold">
                    {title}
                </h1>
            </div>
            <div
                class="flex flex-col-reverse lg:flex-row lg:justify-evenly gap-8 lg:gap-14"
            >
                <div class="flex flex-col gap-4">
                    <h2 class="text-xl lg:text-2xl font-semibold text-white">
                        {subtitle}
                    </h2>
                    <Form client:load currentLocale={currentLocale} />
                </div>
                <div class="flex flex-col gap-3">
                    <h2 class="text-xl lg:text-2xl font-semibold text-white">
                        {description}
                    </h2>
                    {
                        FINDUS(currentLocale).map(({ label, href, text, target }) => (
                            <p class="text-white">
                                <span class="font-semibold">{label}</span>
                                <a
                                    class="hover:text-gray-500 transition duration-300 ease-in"
                                    href={href}
                                    target={target}
                                >
                                    {text}</a>.
                            </p>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</Section>
