---
import Section from "@/layouts/Section.astro";
import { SERVICES } from "@/types/services";
---

<Section id="equipo">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-12 py-10 lg:py-20 px-5">
        <div class="flex flex-col lg:flex-row justify-between gap-4">
            <h1 class="w-fit text-xl lg:text-2xl bg-gray-300 font-light px-6 py-3 rounded-full">
                Equipo Asancus Legal
            </h1>
            <h2 class="text-xl lg:text-4xl">Lorem ipsum dolor sit amet consectetur.</h2>
        </div>
        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:flex lg:flex-row lg:justify-evenly max-lg:gap-5 pb-5"
        >
            {
                SERVICES.map(
                    ({
                        background,
                        position,
                        title,
                        titleColor,
                        description,
                        colorDescription,
                    }) => {
                        return (
                            <div
                                class={`rounded-xl group relative h-[550px] w-auto lg:w-96  bg-cover bg-center`}
                                style={`background-image: url(${background})`}
                                tabindex="0"
                            >
                                <div class="absolute inset-0 bg-black opacity-20 group-hover:opacity-50 transition duration-300 ease-in rounded-xl" />

                                <p class={`text-[11px] p-3 ${titleColor}`}>
                                    {position}
                                </p>
                                <div class="transition-height absolute bottom-0 h-24 w-full overflow-hidden px-5 my-6 text-white duration-500 ease-in group-hover:h-96 group-focus:h-96">
                                    <h2 class={`text-3xl ${colorDescription}`}>
                                        {title}
                                    </h2>
                                    <p
                                        class={`mt-16 text-sm ${colorDescription}`}
                                        set:html={description}
                                    />
                                </div>
                            </div>
                        );
                    },
                )
            }
        </div>
    </div>
</Section>
