---
import MenuBurger from "./MenuBurger.astro";
import LanguageSelector from "./LanguageSelector";
import { getNavItems, itemsHeader } from "@/types/nav";

const { currentLocale } = Astro;
const NAV_ITEMS = getNavItems(currentLocale || "es");

const LOGO = [
    {
        url: "/logo-asancus-legal.svg",
        className:
            "aspect-[4/1] w-auto h-8 min-sm:block hidden hover:scale-105 transition duration-300 ease-in",
    },
    {
        url: "/logo-asancus-legal-mobile.svg",
        className:
            "max-sm:block hidden h-8 hover:scale-105 transition duration-300 ease-in",
    },
];
---

<header>
    <nav
        id="nav-bar"
        class="bg-white fixed lg:top-3 z-20 w-full max-w-screen-xl lg:mx-auto lg:left-0 lg:right-0 lg:rounded-sm"
    >
        <div
            class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
        >
            <a
                href={currentLocale === "es" ? "/#" : "/en/#"}
                class="flex items-center"
            >
                {
                    LOGO.map(({ url, className }) => (
                        <figure>
                            <img
                                src={url}
                                class={className}
                                alt="Asancus Legal Logo"
                                title="Logo Asancus Legal"
                                fetchpriority="high"
                            />
                        </figure>
                    ))
                }
            </a>
            <div
                class="items-center justify-between hidden w-full lg:flex lg:w-auto min-h-[34px]"
            >
                <ul class="flex flex-row gap-10">
                    {
                        NAV_ITEMS.map(({ title, href }) => (
                            <li>
                                <a class={itemsHeader} href={href}>
                                    {title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div class="hidden lg:block">
                <LanguageSelector currentLocale={currentLocale} client:load />
            </div>

            <MenuBurger />
        </div>
    </nav>
</header>

<style>
    @media (min-width: 1280px) {
        header > nav {
            animation: blur linear both 5s;
            animation-timeline: scroll();
            animation-range: 0 300px;
            width: 1280px;
        }

        @keyframes blur {
            to {
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.2);
                width: 1140px;
            }
        }
    }
</style>
