---
import MenuBurger from "./MenuBurger.astro";
import LanguageSelector from "./LanguageSelector";
import { getNavItems, itemsHeader } from "@/types/nav";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const NAV_ITEMS = getNavItems(currentLocale || "es");

const LOGO = [
    {
        url: "/logo-asancus-legal.svg",
        className:
            "min-sm:block hidden h-8 hover:scale-105 transition duration-300 ease-in",
    },
    {
        url: "/logo-asancus-legal-mobile.svg",
        className:
            "max-sm:block hidden h-8 hover:scale-105 transition duration-300 ease-in",
    },
];
---

<header>
    <nav
        id="nav-bar"
        class="bg-white fixed lg:top-3 z-20 w-full max-w-screen-xl lg:mx-auto lg:left-0 lg:right-0 lg:rounded-sm"
    >
        <div
            class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
        >
            <a href="/" class="flex items-center">
                {
                    LOGO.map(({ url, className }) => (
                        <img
                            src={url}
                            class={className}
                            alt="Asancus Legal Logo"
                        />
                    ))
                }
            </a>
            <div
                class="items-center justify-between hidden w-full lg:flex lg:w-auto"
            >
                <ul class="flex flex-row gap-10">
                    {
                        NAV_ITEMS.map(({ title, href }) => (
                            <li>
                                <a class={itemsHeader} href={href}>
                                    {title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>

            <div class="flex space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button
                    type="button"
                    class="cursor-pointer rounded-sm bg-primary px-4 py-2 text-sm text-white hover:bg-white hover:border-slate-300 border-1 hover:text-primary hover:scale-105 transition duration-300 ease-in"
                >
                    <a href=`mailto:${i18n.HERO_EMAIL}`>{i18n.HERO_EMAIL}</a>
                </button>
            </div>

            <div class="hidden lg:block">
                <LanguageSelector currentLocale={currentLocale} client:load />
            </div>

            <MenuBurger />
        </div>
    </nav>
</header>

<style>
    @media (min-width: 1280px) {
        header > nav {
            animation: blur linear both 5s;
            animation-timeline: scroll();
            animation-range: 0 300px;
            width: 1280px;
        }

        @keyframes blur {
            to {
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.2);
                width: 1140px;
            }
        }
    }
</style>
