---
import Section from "@/layouts/Section.astro";

const { title, subtitle, email } = Astro.props;
import { CDN_IMAGES } from '@/utils/cdn.ts';
---

<Section>
    <div class="relative w-full h-full">
        <picture>
            <source
                srcset={`${CDN_IMAGES}/assets/img/asancuslegal-hero.webp`}
                media="(min-width: 768px)"
                type="image/webp"
            />
            <img
                src={`${CDN_IMAGES}/assets/img/asancuslegal-hero-mobile.webp`}
                alt="Asancus Legal Hero Background"
                class="absolute inset-0 w-full h-full object-cover -z-10"
                loading="eager"
                fetchpriority="high"
                width="768"
                height="833"
            />
        </picture>

        <div
            class="py-36 lg:py-72 animate-fade-in animate-delay-1000 animate-duration-1000"
            id="hero-content"
        >
            <div
                class="max-w-screen-md mx-auto text-center flex flex-col gap-4 justify-center items-center"
            >
                <h2 class="text-2xl md:text-4xl text-white">
                    {title}
                </h2>
                <p class="text-white">
                    {subtitle}
                </p>

                <a href={`mailto:${email}`} aria-label="Click to send email">
                    <button
                        type="button"
                        class="cursor-pointer rounded-sm border px-6 py-3 min-h-[48px] min-w-[48px] bg-white hover:bg-primary hover:text-white hover:scale-105 transition duration-300 ease-in flex items-center justify-center text-base md:text-lg"
                    >
                        {email}
                    </button>
                </a>
            </div>
        </div>
    </div>
</Section>
