---
import Section from "@/layouts/Section.astro";

const { title, subtitle, paragraph, currentLocale } = Astro.props;
import { CDN_IMAGES } from "@/utils/cdn.ts";
---

<Section id={currentLocale === "es" ? "inicio" : "index"}>
    <div class="relative w-full h-full">
        <picture>
            <source
                srcset={`${CDN_IMAGES}/assets/img/asancuslegal-hero.webp`}
                media="(min-width: 768px)"
                type="image/webp"
            />
            <img
                src={`${CDN_IMAGES}/assets/img/asancuslegal-hero-mobile.webp`}
                alt="Asancus Legal Hero Background"
                class="absolute inset-0 w-full h-full object-cover -z-10"
                loading="eager"
                fetchpriority="high"
                width="768"
                height="833"
            />
        </picture>

        <div
            class="py-36 lg:py-72 animate-fade-in animate-delay-1000 animate-duration-1000"
            id="hero-content"
        >
            <div
                class="px-6 max-w-screen-md mx-auto flex flex-col gap-4 justify-center items-center"
            >
                <h2 class="text-xl md:text-2xl text-white">
                    {title}
                </h2>
                <p class="text-white">
                    {subtitle}
                </p>
                <p class="text-white">
                    {paragraph}
                </p>
            </div>
        </div>
    </div>
</Section>
