---
import LanguageSelector from "./LanguageSelector";

import { getNavItems, itemsHeader, burgerLine, navList } from "@/types/nav";

const { currentLocale } = Astro;
const NAV_ITEMS = getNavItems(currentLocale || 'es');
---

<menu-burguer class="lg:hidden">
    <div>
        <ul id="nav-list" class={navList}>
            {
                NAV_ITEMS.map(({ title, href }) => (
                    <li id="nav-item" class="border-b-[1px] border-b-gray-400">
                        <a class={itemsHeader} href={href}>
                            {title}
                        </a>
                    </li>
                ))
            }
            <li>
                <LanguageSelector currentLocale={currentLocale} client:load />
            </li>
        </ul>

        <button
            id="nav-burguer"
            class="block cursor-pointer"
            role="button"
            aria-label="menubutton"
        >
            {[...Array(3)].map(() => <span class={burgerLine} />)}
        </button>
    </div>
</menu-burguer>

<script>
    import "@/scripts/menuBurger";
</script>

<style>
    @media (max-width: 1023px) {
        .nav-burguer-line {
            margin: 5px 0;
        }
        #nav-list {
            height: fit-content;
        }

        #nav-list.active {
            top: 3.6rem;
        }

        #nav-burguer.active .nav-burguer-line:nth-child(1) {
            transform: rotate(45deg) translate(4px, 4px);
        }

        #nav-burguer.active .nav-burguer-line:nth-child(2) {
            opacity: 0;
        }

        #nav-burguer.active .nav-burguer-line:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);
        }
    }
</style>
