---
import Section from "@/layouts/Section.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const image = "/assets/img/soluciones-asancus-legal.webp";
import { SOLUTIONS } from "@/types/solutions";
---

<Section id="soluciones">
    <div
        class="py-10 lg:py-20 flex flex-col gap-6 md:gap-12 px-4 lg:max-w-screen-xl mx-auto"
    >
        <div class="flex flex-col lg:grid lg:grid-cols-2 gap-8 relative">
            <div class="flex flex-col gap-4">
                <h2 class="badge">{i18n.SOLUTIONS_TITLE}</h2>
                <p class="text-sm">{i18n.SOLUTIONS_PARAGRAPH}</p>
            </div>
            <div class="px-12 z-10">
                <img
                    class="rounded-full md:w-96 md:mx-auto"
                    src={image}
                    alt=""
                    title=""
                />
            </div>
            <div
                class="block border-b-1 border-slate-300 bottom-6 absolute w-full"
            >
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4 lg:gap-12">
            {
                SOLUTIONS.map(({ percentage, description}) => (
                    <div class="flex flex-row md:flex-col md:justify-between gap-6">
                        <div class="flex flex-col items-start justify-center">
                            {percentage.includes("up to") ? (
                                <>
                                    <span class="text-primary text-xs">
                                        up to
                                    </span>
                                    <span class="text-primary text-base md:text-2xl">
                                        {percentage.split(" ")[2]}
                                    </span>
                                </>
                            ) : (
                                <span class="text-primary text-base md:text-2xl md:pt-4">
                                    {percentage}
                                </span>
                            )}
                        </div>
                        <div>
                            <p class="text-primary text-xs">
                                {description}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Section>
