---
import { ClientRouter } from "astro:transitions";

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
type Favicon = { url: string; media: string };
const FAVICON: Favicon[] = [
	{
		url: "/favicon-dark.svg",
		media: "(prefers-color-scheme: light)",
	},
	{
		url: "/favicon.svg",
		media: "(prefers-color-scheme: dark)",
	},
];

const flowbite = "../../public/assets/js/flowbite.min.js";
const turnstile = "../../public/turnstile/v0/api.js";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content={description} />
		{
			FAVICON.map(({ url, media }) => (
				<link
					rel="icon"
					type="image/svg+xml"
					href={url}
					media={media}
				/>
			))
		}
		<script is:inline src={flowbite}></script>
		<script is:inline src={turnstile} async defer></script>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://www.asancuslegal.com" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Asancus Legal - Despacho Abogados Fiscal Mercantil"
		/>
		<meta
			property="og:description"
			content="Nuestro despacho se distingue por su cercanía y capacidad para resolver casos complejos de manera eficiente."
		/>
		<meta property="og:image" content="/assets/img/opengraph-img.jpg" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="www.asancuslegal.com" />
		<meta property="twitter:url" content="https://www.asancuslegal.com" />
		<meta
			name="twitter:title"
			content="Asancus Legal - Despacho Abogados Fiscal Mercantil"
		/>
		<meta
			name="twitter:description"
			content="Nuestro despacho se distingue por su cercanía y capacidad para resolver casos complejos de manera eficiente."
		/>
		<meta name="twitter:image" content="/assets/img/opengraph-img.jpg" />

		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Raleway Variable", sans-serif;
		margin: 0;
		width: 100%;
		height: 100vh;
	}

	p {
		font-weight: 300;
		max-width: 70ch;
	}
	@media (reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
