---
import { ClientRouter } from "astro:transitions";
import { FAVICON, HERO, TEAM_IMG } from "@/types/layout";

interface Props {
	description: string;
	title: string;
	currentLocale: string;
	ogDescription: string;
}

const { description, title, currentLocale, ogDescription } = Astro.props;
export const ogImage = "https://asancuslegal.com/og.jpg";
---

<!doctype html>
<html lang={currentLocale === "es" ? "es" : "en"}>
	<head>
		<!-- high priority -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- first preload -->
		{
			HERO.map(({ url, media }) => (
				<link
					rel="preload"
					fetchpriority="high"
					as="image"
					href={url}
					type="image/webp"
					media={media}
				/>
			))
		}
		{
			TEAM_IMG.map(({ url }) => (
				<link
					rel="preload"
					fetchpriority="low"
					as="image"
					href={url}
					type="image/webp"
				/>
			))
		}

		<!-- meta data -->
		<title>{title}</title>

		{
			FAVICON.map(({ url, media }) => (
				<link
					rel="icon"
					type="image/svg+xml"
					href={url}
					media={media}
				/>
			))
		}
		<meta name="description" content={description} />

		<meta property="og:url" content="https://www.asancuslegal.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={ogDescription} />
		<meta property="og:image" content={ogImage} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="www.asancuslegal.com" />
		<meta property="twitter:url" content="https://www.asancuslegal.com" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={ogDescription} />
		<meta name="twitter:image" content={ogImage} />
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>
