---
import { ClientRouter } from "astro:transitions";

interface Props {
	description: string;
	title: string;
	currentLocale: string;
	ogDescription: string;
}

const { description, title, currentLocale, ogDescription } = Astro.props;
type Favicon = { url: string; media: string };
const FAVICON: Favicon[] = [
	{
		url: "/favicon-dark.svg",
		media: "(prefers-color-scheme: light)",
	},
	{
		url: "/favicon.svg",
		media: "(prefers-color-scheme: dark)",
	},
];

const flowbite = "../../assets/js/flowbite.min.js";
/* const turnstile = "../../turnstile/v0/api.js";
 */const ogImage = "https://test.asancuslegal.com/og.jpg";
---

<!doctype html>
<html lang={currentLocale === "es" ? "es" : "en"}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<script is:inline src={flowbite} async defer></script>
<!-- 		<script is:inline src={turnstile} async defer></script>
 -->		<script is:inline src="https://js.hcaptcha.com/1/api.js?hl=es" async defer
		></script>

		<link
			rel="prefetch"
			href="/assets/img/asancuslegal-hero.webp"
			as="image"
			type="image/webp"
			crossorigin="anonymous"
		/>
		{
			FAVICON.map(({ url, media }) => (
				<link
					rel="icon"
					type="image/svg+xml"
					href={url}
					media={media}
				/>
			))
		}
		<meta name="description" content={description} />

		<meta property="og:url" content="https://www.asancuslegal.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={ogDescription} />
		<meta property="og:image" content={ogImage} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="www.asancuslegal.com" />
		<meta property="twitter:url" content="https://www.asancuslegal.com" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={ogDescription} />
		<meta name="twitter:image" content={ogImage} />
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>
